<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text d-flex justify-content-center flex-column">
        <div class="d-flex flex-column flex-wrap">
            <div class="mx-lg-4 mx-0">
                <p class="text-label mb-3 text-warning font-14">[ Contact Us ]</p>
                <h1 class="fw-6 font-20">Got an idea Let’s Make <br>It Happen!</h1>
            </div>
        </div>
    </div>
</div>
<app-contact-us></app-contact-us>
