.dev-background {
    background-image: url(../../../../assets/images/human-rights.jpg);
    background-repeat: no-repeat;
    height: 85vh;
    background-position: 0 100%;
  
    img {
        border-radius: 1rem;
    }
  }
  
  .background-overlay,
  .blue-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .background-overlay {
    background: linear-gradient(80deg, rgba(18, 50, 125, 0.7), rgb(11 56 165 / 98%));
  }
  
  .banner-text {
    position: relative;
    width: 100%;
    height: 100%;
  
    h1 {
        color: #fff;
        font-size: 44px;
    }
  
    p {
        font-size: 20px;
        color: #fff;
    }
  }
.core-value-points{
    padding-left: 10%;
}
.inner-box{
    border-right: 1px solid #3f455f;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.human-rights-detail-para {
    color: #575757;
    line-height: 1.75;
  }
  
  .human-rights-list {
    li {
        font-size: 15px;
        padding-left: 6px;
        margin-bottom: 15px;
        color: #575757;
    }
  }
  
  .human-rights-img {
    img {
        border-radius: 1rem;
    }
  }
  
  .human-rights-card {
    position: sticky;
    top: 100px;
    transition: all .3s ease-in-out;
    img{
        width: 100%;
    }
  }
  @media(max-width: 992px){
    .dev-background{
       height: 60vh;
    }
  }
  @media(max-width: 526px){
    .dev-background{
       height: 50vh;
    }
  }