<!-- <app-header-banner [headerdata]="headertagData"></app-header-banner> -->
<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text section-top-inner-space d-flex justify-content-center flex-column">
        <div class="d-flex flex-column flex-wrap">
            <div class="mx-lg-4 mx-0">
                <p class="text-label mb-3 text-warning font-14">[ Social responsibilities ]</p>
                <h1 class="fw-6 font-20">SAUFIK's Commitment to <br> Human Rights</h1>
            </div>
        </div>
    </div>
    <div class="banner-shape-svg">
        <svg width=" 100%" height=" 100%" viewBox="0 0 1920 133" fill="none" xmlns="http://www.w3.org/2000/svg" id="home-banner-svg">
          <g clip-path="url(#clip0_25_1623)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.44962e-05 0.0383301L2.33127e-05 64.0001L0 197.333L858.667 197.334L1061.33 197.334L1233.07 197.334L1404.8 197.334L1576.53 197.334L1748.27 197.334L1920 197.334V133.334V69.3337C1920 104.68 1891.35 133.334 1856 133.334L1748.27 133.334L1576.53 133.334L1404.8 133.334L1233.07 133.334L1061.33 133.334H1021.18C1004.2 133.334 987.924 126.591 975.921 114.588L944.078 82.7454C932.076 70.743 915.797 64.0002 898.823 64.0002L858.667 64.0002L64 64.0001H63.9932C28.6629 63.9964 0.0206942 35.3647 3.44962e-05 0.0383301Z" fill="currentColor"></path>
          </g>
          <defs>
          <clipPath id="clip0_25_1623">
          <rect width="1920" height="300" fill="currentColor"></rect>
          </clipPath>
          </defs>
          </svg>
      </div>
</div>
<div class="core-values-section section-top-inner-space section-bottom-inner-space section-top-outer-space d-none">
    <div class="container">
        <div class="align-items-center d-flex row mb-5">
            <div class="col-lg-8 col-12">
                <h6 class="mb-2 text-primary fw-6">OUR CORE VALUES</h6>
                <h2 class="section-title fw-4">
                    We dedicatedly master the power of technology in bespoke ways for our customers, guided by three
                    core values:
                </h2>
            </div>
        </div>

        <div class="row mb-3 align-items-stretch core-value-points">
            <div class="col-md-4">
                <div class="inner-box">
                    <h4 class="text-primary fw-6">Integrity</h4>
                    <p>
                        Embody dependability, honesty, and transparency.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-box">
                    <h4 class="text-primary fw-6">Innovation</h4>
                    <p>
                        Act courageously, experiment, and make bold decisions.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-box border-0">
                    <h4 class="text-primary fw-6">Dedication</h4>
                    <p>
                        Commit to tirelessly delivering precision and perfection.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container section-top-inner-space section-bottom-inner-space position-relative">
    <div class="row">
        <div class="col-lg-8 human-rights-wrapper">
            <h1 class="fw-9 font-30 text-lg-start text-center">Human Rights Policy</h1>
            <p class="human-rights-detail-para mb-lg-4 mb-2 font-14">SAUFIK’s Human Rights policy applies to every SAUFIK
                employee and
                is based on the following <br> key principles:</p>
            <div class="human-rights-description mb-lg-5 mb-4">
                <ul class="px-4 human-rights-list">
                    <li class="font-14">Be involved in every step of the product design cycle from
                        discovery and user acceptance testing.</li>
                    <li class="font-14">Work with BAs, product managers and tech teams to lead the Product
                        Design.</li>
                    <li class="font-14">Maintain quality of the design process and ensure that when designs
                        are translated into code they accurately.</li>
                    <li class="font-14">Accurately estimate design tickets during planning sessions.</li>
                    <li class="font-14">Contribute to sketching sessions involving non-designersCreate, and
                        pattern libraries.</li>
                    <li class="font-14">Design pixel perfect responsive UI’s and understand that adopting
                        common interface.</li>
                    <li class="font-14">Interface patterns is better for UX than reinventing the wheel.</li>
                </ul>

            </div>
            <div class="human-rights-description mb-lg-5 mb-4">
                <h4 class="fw-5 mb-3 text-lg-start text-center">Supply Chain</h4>
                <ul class="px-4 human-rights-list">
                    <li class="list-none font-14">SAUFIK recognizes that the successful implementation of our Human Rights
                        Policy is heavily influenced by the cooperation and support of our supply chains.</li>
                    <li class="font-14">If suppliers or contractors act in a way that is inconsistent with our Human Rights Policy
                        and/or are complicit in any human rights abuses, SAUFIK will look to terminate their contracts
                        and end all commercial relations with them.</li>
                </ul>
            </div>
            <div class="human-rights-description mb-lg-5 mb-4">
                <h1 class="fw-9 font-30 text-lg-start text-center">Modern Slavery Act</h1>
                    <h1 class="fw-9 font-30 text-lg-start text-center">Transparency Statement</h1>
                <h4 class="fw-5 my-3 text-lg-start text-center">Our Organization</h4>
                <p class="human-rights-detail-para mb-lg-4 mb-2 font-14">SAUFIK Technologies, Inc. (“SAUFIK”) acknowledges
                    internationally proclaimed human rights and is fully committed to combat slavery and human
                    trafficking. We design, develop, market, and export proprietary software products to customers in
                    the automobile financing and leasing, banking, and financial services industries worldwide. We also
                    provide system integration, consulting, and IT products and services in exchange for fees from
                    customers.</p>
                <!-- <p class="human-rights-detail-para mb-lg-4 mb-2 font-14">We have seven wholly owned and six majority owned
                    subsidiaries worldwide including the United Kingdom and our parent company is incorporated in the
                    United States. SAUFIK has more than 1500 permanent employees worldwide.</p> -->
                <p class="human-rights-detail-para mb-lg-4 mb-2 font-14">The SAUFIK Human Rights Policy recognizes international
                    human rights as set out in the Bill of Human Rights. Our Policy reflects our responsibilities around
                    slavery and human trafficking.</p>
            </div>
            <div class="human-rights-description mb-lg-5 mb-4">
                <h4 class="fw-5 mb-3 text-lg-start text-center">Our Policies and Due Diligence on Slavery and Human Trafficking:</h4>
                <p class="human-rights-detail-para mb-lg-4 mb-2 font-14">We are committed to ensuring that there is no modern
                    slavery or human trafficking in our supply chains or in any part of our business. As a software and
                    services company, we do not have a manufacturing base or supply chain for tangible goods.
                    Accordingly, we believe there is a very low likelihood of slavery and/or human trafficking in our
                    supply chain. However, our company is committed to promoting and protecting human rights wherever we
                    do business.</p>
                <p class="human-rights-detail-para mb-lg-4 mb-2 font-14">We expect our suppliers and other business partners to
                    be committed to ethical behavior, to comply with all applicable laws and regulations, and to take
                    action to promote the eradication of human trafficking and slavery. We will continue to work with
                    our suppliers and refine our own requirements and processes to reinforce our commitment to human
                    rights and a culture of ethical behavior, integrity and respect.</p>
                <p class="human-rights-detail-para mb-lg-4 mb-2 font-14">This statement is made pursuant to section 54(1) of the
                    Modern Slavery Act 2015 and constitutes our Company’s slavery and human trafficking statement for
                    the financial year ending June 30, 2021.</p>
            </div>
            <!-- <div class="human-rights-img">
                <img class="w-100" src="../../../../assets/images/skill-img.jpg" alt="">
            </div> -->
            <p>
                <b>Syed Sheraz Akbar<br>
                    CEO,<br> SAUFIK Technologies, Inc.</b>
            </p>
        </div>
        <div class="col-lg-4">
            <div class="human-rights-card mt-lg-0 mt-md-3 mt-3">
                <img src="../../../../assets/images/human-rights-sideimg.jpg" alt="">
            </div>
        </div>
    </div>
</div>