<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text section-top-inner-space d-flex justify-content-center flex-column">
        <div class="d-flex flex-column flex-wrap">
            <div class="mx-lg-4 mx-0">
                <p class="text-label mb-3 text-warning font-14">[ My Projects ]</p>
                <h1 class="fw-6 font-20">My Potfolio</h1>
                <p>Here are some awesome projects that makes me Blush.</p>
            </div>
        </div>
    </div>
</div>
<div class="mt-5 section-bottom-inner-space" >
    <div class="container">
        <div class="project-list mt-5">
            <ng-container *ngFor="let item of projects">
              <div class="project-info-card pointer" [routerLink]="'/case-studies/detail/'+item.id">
                <div class="proj-img-bg">
                    <ng-container *ngFor="let img of item?.ProjectImg">
                        <img src="https://qayyum-portfolio.web.app/assets/images/projects/fynd-1.jpg" class="{{item.imgFluid}}">
                    </ng-container>
                    
                    <!-- <img class="" src="../../../../assets/images/proj-card-img.svg" alt="">  -->
                </div>
                <div class="proj-info">
                    <div class="li-case-info">
                        <ng-container  *ngFor="let tech of item.technology" >
                         <span>{{tech}}</span>
                        </ng-container>
                     </div>
                     <h3 class="project-name mt-2"><a>{{item.projectTitle}}</a></h3>
                     <p class="project-description">{{item.ProjectDescription}}</p>
                     <a class="link-txt pointer">View Detail
                         <i class="fa-solid fa-arrow-right mx-1 mt-1"></i></a>
                </div>
               
            </div>
        </ng-container>  
        </div>
    </div>

</div>