<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text section-top-inner-space d-flex justify-content-center flex-column">
        <div class="d-flex flex-column flex-wrap">
            <div class="mx-lg-4 mx-0">
                <p class="text-label mb-3 text-warning font-16">[ Case Studies ]</p>
                <h1 class="fw-9 font-30">Web Development <br> Case Studies</h1>
            </div>
        </div>
    </div>
</div>
<div class="mt-5 section-bottom-inner-space" >
    <div class="container">
        <h1 class="section-title text-center">Case Studies</h1>
        <div class="row mt-5 mx-lg-5">
            <ng-container *ngFor="let item of projects">
            <div class="col-lg-4 col-md-6">
                <div class="project-info-card" routerLink="/company/project-detail">
                    <div class="proj-img-bg">
                        <img class="card-border" loading="lazy" src="../../../../assets/images/proj-card-img.svg" alt="">
                        <img loading="lazy" src="../../../../assets/images/{{item.ProjectImg}}" class="{{item.imgFluid}}">
                        <!-- <img class="" src="../../../../assets/images/proj-card-img.svg" alt="">  -->
                    </div>
                    <div class="proj-info">
                        <div class="li-case-info">
                            <ng-container  *ngFor="let tech of item.technology" >
                             <span>{{tech}}</span>
                            </ng-container>
                         </div>
                         <h3 class="project-name"><a>{{item.projectTitle}}</a></h3>
                         <p class="project-description">{{item.ProjectDescription}}</p>
                         <a class="link-txt pointer">View Detail
                             <i class="fa-solid fa-arrow-right mx-1 mt-1"></i></a>
                    </div>
                   
                </div>
            </div>
        </ng-container>  
        </div>
    </div>

</div>