<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text section-top-inner-space d-flex justify-content-center flex-column">
        <div class="d-flex flex-column flex-wrap">
            <div class="mx-lg-4 mx-0">
                <p class="text-label mb-3 text-warning font-14">[ Life At SAUFIK ]</p>
                <h1 class="fw-6 font-20">Go behind the scenes and learn <br> about life at SAUFIK.</h1>
            </div>
        </div>
    </div>
    <div class="banner-shape-svg">
        <svg width=" 100%" height=" 100%" viewBox="0 0 1920 133" fill="none" xmlns="http://www.w3.org/2000/svg"
            id="home-banner-svg">
            <g clip-path="url(#clip0_25_1623)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.44962e-05 0.0383301L2.33127e-05 64.0001L0 197.333L858.667 197.334L1061.33 197.334L1233.07 197.334L1404.8 197.334L1576.53 197.334L1748.27 197.334L1920 197.334V133.334V69.3337C1920 104.68 1891.35 133.334 1856 133.334L1748.27 133.334L1576.53 133.334L1404.8 133.334L1233.07 133.334L1061.33 133.334H1021.18C1004.2 133.334 987.924 126.591 975.921 114.588L944.078 82.7454C932.076 70.743 915.797 64.0002 898.823 64.0002L858.667 64.0002L64 64.0001H63.9932C28.6629 63.9964 0.0206942 35.3647 3.44962e-05 0.0383301Z"
                    fill="currentColor"></path>
            </g>
            <defs>
                <clipPath id="clip0_25_1623">
                    <rect width="1920" height="300" fill="currentColor"></rect>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>
<div class="container section-top-inner-space section-bottom-inner-space">
    <div class="row mx-lg-5">
        <div class="col-lg-12">
            <div class="section-title text-center">Life At SAUFIK</div>
        </div>
        <div class="col-lg-12">
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">At SAUFIK, we foster a work environment characterized by
                inclusivity and
                collaboration, serving as a catalyst for innovation and excellence. Our commitment lies in unlocking the
                true potential of each team member through dedicated development efforts, a shared mission, and a strong
                sense of community.</p>
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">SAUFIK has selected you to help us win, and we hope your
                work with us here is enjoyable and mutually profitable. We acknowledge that each of us has made the
                right decision, one that will lead to a mutually beneficial relationship. The minute you start working
                here, you become an indispensable member of SAUFIK. </p>
        </div>
    </div>
    <div class="row collage-group mt-3 mx-lg-5">
        <div class="py-4">
            <h2 class="sub-section-title fw-7 text-lg-start text-md-start text-center font-20">Annual Event 2022</h2>
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">Like all successful teams, we champion each other. We
                believe that each of us brings something unique to the table, and those unique skills make us stronger
                as a team. Through employee reward and recognition initiatives, we celebrate top-performing members and
                acknowledge each employee’s strengths and potential.</p>
        </div>
        <div class="annual-event-photo-grid">
            <div class="image-row d-flex align-items-center flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-5 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/annual-event-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/annual-event-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-row d-flex align-items-center mt-3 flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-7 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/annual-event-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/annual-event-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <h2 class="sub-section-title fw-7 text-lg-start text-md-start text-center font-20">Cricket Tournament 2023
            </h2>
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">It was an amazing day filled with energy, excitement, and great sportsmanship. We would like to thank all teams who participated in the tournament, including SAUFIK Kings, SAUFIK Sharks, SAUFIK Warriors, and SAUFIK Alpha. Each team played with passion and showed great team spirit throughout the tournament.</p>
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">We are proud to organize such events that not only bring our employee's together but also promote a healthy and active lifestyle. At SAUFIK, We believe in creating a work environment that encourages our employee’s to develop both personally and professionally.</p>
        </div>
        <div class="cricket-tournament-photo-grid">
            <div class="image-row d-flex align-items-center flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-5 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/cricket-tournament-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/cricket-tournament-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-row d-flex align-items-center mt-3 flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-7 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/cricket-tournament-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/cricket-tournament-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <h2 class="sub-section-title fw-7 text-lg-start text-md-start text-center font-20">Mango Party</h2>
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">We celebrated Mango Day in style to start the season! Our
                colleagues celebrated 25 July by coming together and sharing a wide range of delicious desserts, Mango
                cake, including milkshakes, ice cream, and of course, the freshest mangoes we could find! Along with
                playing games and competing in eating mangos, we also laughed a lot!</p>
        </div>
        <div class="mango-party-photo-grid">
            <div class="image-row d-flex align-items-center flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-5 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/mango-event-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/mango-event-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-row d-flex align-items-center mt-3 flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-7 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/mango-event-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/mango-event-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <h2 class="sub-section-title fw-7 text-lg-start text-md-start text-center font-20">Independence Day 14
                August</h2>
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">Our colleagues virtually gathered to commemorate
                Pakistan's Independence Day from all across the world! The festivities began with a sing-along of the
                national anthem. Subsequently, there was the ultimate trivia competition, and who could forget the
                patriotic playlist, when colleagues transformed into tiny rock stars and passionately sang our national
                songs! But the good times didn't end there! Our incredible colleagues joined in the fun with their
                families to have even more fun.</p>
        </div>
        <div class="independence-day-photo-grid">
            <div class="image-row d-flex align-items-center flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-5 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/independence-day-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/independence-day-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-row d-flex align-items-center mt-3 flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-7 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/independence-day-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/independence-day-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <h2 class="sub-section-title fw-7 text-lg-start text-md-start text-center font-20">Annual Trip to Kumrat
                Valley</h2>
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">Over the weekend, our teams from Islamabad traveled to
                Kumrat Valley in, and what an incredible adventure it was! Everything about this experience was amazing
                the food was delicious, the trekking journey was breathtaking, and we worked well as a team. More than
                anything, though, this trip demonstrated the incredible power of teamwork. Throughout the difficult
                journey, everyone encouraged and supported one another.</p>
        </div>
        <div class="annual-tour-photo-grid">
            <div class="image-row d-flex align-items-center flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-5 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/annual-tour-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/annual-tour-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-row d-flex align-items-center mt-3 flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-7 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/annual-tour-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/annual-tour-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <h2 class="sub-section-title fw-7 text-lg-start text-md-start text-center font-20">Table Tennis Tournament 2023</h2>
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">Table Tennis Tournament 2023, sometimes referred to as ping-pong, is a racket sport that originated in tennis but differs in that players play on a stationary table rather than a court. Players work in teams of two and four or individually, taking turns using small rackets to return a light, hollow ball over the table's net and onto the other half of the court.</p>
            <p class="paragraph1 font-14 mt-lg-0 mt-md-0 mt-3">If they are unable to do so, the other team scores a point. Our matches started from 9 November 2023 and ended by 17 November 2023. we had the grand final in which we enjoyed, some snack party, announced winners and gave prizes to them.
                You have the fire in your heart and the assurance to take care of business. You will perpetually be the encapsulation of a champion to us! we wish you not to flee from challenges. Keep running over them!</p>

        </div>
        <div class="tennis-tournament-photo-grid">
            <div class="image-row d-flex align-items-center flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-5 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/tennis-tournament-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/tennis-tournament-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-row d-flex align-items-center mt-3 flex-lg-nowrap flex-md-nowrap flex-wrap">
                <div class="col-lg-7 col-md-6">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/tennis-tournament-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 mt-lg-0 mt-md-0 mt-3">
                    <div class="collages">
                        <img src="../../../../assets/images/lifeAtSAUFIK/tennis-tournament-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>