<app-header-banner [headerdata]="headertagData"></app-header-banner>
<div class="benefits-cards section-top-inner-space section-bottom-inner-space bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="benefit-card h-auto text-lg-start text-center">
                    <div class="d-flex justify-content-center align-items-center flex-wrap">
                        <div class="mx-2">
                            <h5 class="section-title">We support our employees to achieve their best</h5>
                            <p class="card-text font-16">We support our employees to achieve
                                their best to enhance work
                                experience.</p>
                            <button class="btn btn-primary py-3 font-12" [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active">Join US At Suafik</button>
                        </div>
                        <div class="benefit-img">
                            <img class="mb-0" src="../../../../assets/images/advantages-benefit.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 col-md-6">
                <div class="benefit-card">
                    <div class="feature-icon icon-center pb-5 rounded-custom purple-light">
                        <i class="fa-solid fa-building"></i>
                    </div>
                    <h5 class="mx-lg-2 mx-md-2 mx-0 font-20">Office</h5>
                    <ul class="benefit-list font-14 px-lg-4 px-md-4 px-3">
                        <li>Comfortable office</li>
                        <li>Great office location</li>
                        <li>Equipped kitchen and Coffee-corner</li>
                        <li>Free parking</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="benefit-card mt-lg-0 mt-md-0 mt-3">
                    <div class="feature-icon icon-center pb-5 rounded-custom red">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <h5 class="mx-lg-2 mx-md-2 mx-0 font-20">Day-Off</h5>
                    <ul class="benefit-list font-14 px-lg-4 px-md-4 px-3">
                        <li>20 paid days-off</li>
                        <!-- <li>20 unpaid days-off</li> -->
                        <li>Gazetted holidays</li>
                        <li>Personal events paid days off:<br> Marriage, Child birth, etc.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="benefit-card mt-lg-0 mt-md-3 mt-3">
                    <div class="feature-icon icon-center pb-5 rounded-custom green-light ">
                        <i class="fa-solid fa-stopwatch"></i>
                    </div>
                    <h5 class="mx-lg-2 mx-md-2 mx-0 font-20">Flexible time</h5>
                    <ul class="benefit-list font-14 px-lg-4 px-md-4 px-3">
                        <li>Flexible working hours</li>
                        <li>Hybrid-remote policy</li>
                        <li>Work from home policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-top-inner-space section-bottom-inner-space banner-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="benefit-wrapper mt-lg-0 mt-md-3 mt-3">
                    <img src="../../../../assets/images/banner-benefit.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="benefit-banner d-flex flex-lg-column flex-md-row flex-column">
                    <div class="benefit-card bg-primary text-white flex-lg-column flex-md-column mt-lg-0 mt-md-3 mt-3">
                        <img src="../../../../assets/images/pro-dev.svg" alt="">
                        <div>
                            <h4 class="mx-lg-2 mx-md-2 mx-0 fw-6 font-20">Health</h4>
                            <ul class="benefit-list font-14 px-lg-4 px-md-4 px-3">
                                <li>Medical leaves</li>
                                <li>Medical insurance</li>
                                <li>OPD/IPD</li>
                                <li>Life insurance</li>
                            </ul>
                        </div>
                    </div>
                    <div class="benefit-card bg-primary text-white flex-lg-column flex-md-column mt-lg-2 mt-md-3 mt-3">
                        <img src="../../../../assets/images/health.svg" alt="">
                        <div>
                            <h4 class="mx-lg-2 mx-md-2 mx-0 fw-6 text-nowrap font-20">Professional Development</h4>
                            <ul class="benefit-list font-14 px-lg-4 px-md-4 px-3">
                                <li>Hard &amp; Soft Skills training programs</li>
                                <li>Peer-to-Peer clubs</li>
                                <li>Budget for self-development</li>
                                <!-- <li>Corporate Library</li> -->
                                <li>English speaking clubs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="reward-compensation section-bottom-inner-space ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="reward-cards">
                    <img src="../../../../assets/images/communities.svg" alt="">
                    <div>
                        <h4 class="fw-7 text-uppercase font-20">Communities</h4>
                        <ul class="benefit-list font-14 px-lg-4 px-md-4 px-3">
                            <li>Tech community cooperation</li>
                            <li>Internal communities</li>
                            <li>Social initiative: volunteering & charity</li>
                            <li>IT cluster membership & discount</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="reward-cards mt-lg-0 mt-md-2 mt-2">
                    <img src="../../../../assets/images/rewards.svg" alt="">
                    <div>
                        <h4 class="fw-7 text-uppercase font-20">compensation and rewards</h4>
                        <ul class="benefit-list font-14 px-lg-4 px-md-4 px-3">
                            <li>Competitive salary</li>
                            <li>Annual bonuses</li>
                            <li>Star Performer Of the month</li>
                            <li>Referral bonuses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-bottom-inner-space banner-card">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="benefit-banner d-flex flex-lg-column flex-md-row flex-column">
                    <div class="benefit-card bg-primary text-white flex-lg-column flex-md-column ">
                        <img src="../../../../assets/images/events1.svg" alt="">
                        <div>
                            <h4 class="mx-lg-2 mx-md-2 mx-0 fw-6 font-20">Events & Leisure</h4>
                            <ul class="benefit-list font-14 px-lg-4 px-md-4 px-3">
                                <li>Annual event</li>
                                <li>Summer mango party</li>
                                <li>Table tennis tournament</li>
                                <li>Cricket tournament</li>
                                <li>Annual tour</li>
                            </ul>
                        </div>
                    </div>
                    <div class="benefit-card bg-primary text-white flex-lg-column flex-md-column mt-lg-2">
                        <img src="../../../../assets/images/events2.svg" alt="">
                        <div>
                            <h4 class="mx-lg-2 mx-md-2 mx-0 fw-6 text-nowrap font-20">Other</h4>
                            <ul class="benefit-list font-14 px-lg-4 px-md-4 px-3">
                                <li>CSR and Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="benefit-wrapper mt-lg-0 mt-md-2 mt-3">
                    <img src="../../../../assets/images/banner-benefit-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>