<app-header-banner [headerdata]="headertagData"></app-header-banner>
<div class="section-top-inner-space section-bottom-inner-space">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">SAUFIK's Story</h2>
                <div class="d-flex my-4 align-items-center">
                    <img src="../../../../assets/images/flag-icon.svg" alt="">
                    <p class="mb-0 mx-3 fw-7">From 2017</p>
                </div>
                <div>
                    <p class="paragraph1 font-14 mb-0"><strong>I'm a Front-End Developer from Islamabad Pakistan. </strong>
                      I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences. Let's make something special. After graduating in 2017 with a Bachelor’s Degree (First Class Honours) in Information Technology (BSIT), I spent the last 5 years working both as a web developer and designer and as part of a team in various companies. I acquired project and time management skills, as well as the ability to communicate with team members and clients while effectively meeting milestones and deadlines. During my degree I studied Information Architecture, and therefore have a keen understanding of wireframes, sitemaps and user experience design which I put to good use on every project I work on. I am currently working in Islamabd Pakistan. I am always available to discuss your project over the phone or via Skype or any Plateform.
                    </p>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-heading">
                    <h2 class="section-title">What’s Next?</h2>
                    <p class="paragraph1 mt-4 font-14">“The experience and knowledge we gained working on the clients’
                        solutions
                        laid the foundation for the SAUFIK products. Started as simple in-house tools Checklist now are
                        commercial products with a very bright future.
                        <br><br>Our next big goal is to turn SAUFIK into a
                        doing what we do best - crafting meaningful products.”
                    </p>
                </div>
                <div class="ceo-detail d-flex align-items-center">
                    <img src="../../../../assets/images/ceo-sheraz-akbar.png" alt="">
                    <div class="mx-3">
                        <h2 class="fw-6 font-18">Syed Sheraz Akbar</h2>
                        <p class="paragraph1 font-14">CEO @SAUFIK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-grey section-top-inner-space section-bottom-inner-space">
    <div class="container">
        <div class="d-flex align-items-md-center justify-content-center flex-column">
            <h2 class="section-title text-center">Our Mission</h2>
            <p class="paragraph2 mb-0 font-18">Influence the way companies are managed through the</p>
            <p class="paragraph2 font-18"> proven approaches and the products we build.</p>
            <p class="paragraph2 mb-0 font-18">Expand SAUFIK's formula to the industry with leverage</p>
            <p class="paragraph2 font-18">of reputation and market visibility.</p>
        </div>
        <div class="d-flex justify-content-center align-items-center mission-img mt-3">
            <img class="w-100" src="../../../../assets/images/corporate-values-img.png" alt="">
        </div>
    </div>

</div>
<div class="corporate-values section-top-inner-space section-bottom-inner-space position-relative">
    <div class="container wrapper">
        <div class="list-box-inner mx-lg-5">
            <div class="list-box-aside">
                <div class="list-box-aside-content">
                    <h2 class="list-box-title font-30"> SAUFIK corporate <span>values</span> </h2>
                    <div class="list-box-subtitle paragraph1 mb-4 font-14">From the early days, we treated the
                        development
                        culture as the
                        foundation of our business. Over the years, we've created a formula that includes such key
                        aspects</div> <a class="enlarged-link inform-link font-20" [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active">Get Started
                        here</a>
                </div>
            </div>
            <ul class="list-box-list px-0 mt-lg-0 mt-3">
                <li class="list-box-item">
                    <div class="list-box-item-title font-20">Quality</div>
                    <div class="list-box-item-text font-14">We value quality over quantity, and these are no buzzwords
                        for us.
                        We spend the necessary amount of time on a task and ensure we've found the best possible
                        solution for it.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title font-20">Life-Work Balance</div>
                    <div class="list-box-item-text font-14">Work is just a small part of your life. All the rest belongs
                        to
                        you, your family, interests, and hobbies. We understand and respect that.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title font-20">Unlimited Growth</div>
                    <div class="list-box-item-text font-14">You are free to grow in any competency you feel like to make
                        your
                        job better. We don’t limit but encourage you to do so.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title font-20">Ownership</div>
                    <div class="list-box-item-text font-14">There are no unimportant tasks at SAUFIK. We understand the
                        end
                        value of each project, clearly divide roles and responsibilities, and take full ownership for
                        it.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title font-20">Transparency</div>
                    <div class="list-box-item-text font-14">Open feedback, desire to find common grounds, understanding
                        of what
                        we do and why - are the foundation for the transparent relationships with our teammates and
                        clients.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title font-20">Respect and empathy</div>
                    <div class="list-box-item-text font-14">We are a multinational and multicultural community spread
                        over 15
                        different countries. Empathy and Respect help us socialize and build strong interpersonal
                        connections within the team.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title font-20">Master our craft</div>
                    <div class="list-box-item-text font-14">We build our mastery in all we do, implement it in tailored
                        and
                        highly effective solutions, and then share our insights with the community.</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- <app-saufik-offshore-staffing></app-saufik-offshore-staffing> -->
<div class="links-box">
    <div class="links-box-wrap">
        <div class="links-box-item links-box-item_services">
            <div class="links-box-bg">
                <img src="../../../../assets/images/services.jpg" alt="">
                <div class="blue-overlay"></div>
            </div>
            <div class="links-box-content">
                <h3 class="links-box-title font-30">Services</h3>
                <div class="links-box-subtitle paragraph1 text-white font-14">If you're an entrepreneur looking for a
                    tech
                    partner, <br> we will
                    help you to succeed with your product</div>
            </div>
        </div>
        <div class="links-box-item links-box-item_team">
            <div class="links-box-bg">
                <img src="../../../../assets/images/products.jpg" alt="">
                <div class="blue-overlay"></div>
            </div>
            <div class="links-box-content">
                <h3 class="links-box-title font-30">Products</h3>
                <div class="links-box-subtitle paragraph1 text-white font-14">If you’re an investor or SAUFIK products
                    user,
                    check out
                    Mailtrap, Coupler, and SmartChecklist</div>
            </div>
        </div>
    </div>
</div>