<app-header-banner [headerdata]="headertagData"></app-header-banner>
<div class="section-top-inner-space section-bottom-inner-space">
    <div class="containers">
        <div class="row">
            <div class="col-lg-12">
                <div class="developer_skills" unique-script-id="w-w-dm-id">
                    <div class="responsive-container-wrapper">

                        <div class="responsive-container-block content">
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/html-5.png" alt="front-end developement html skill">
                                </div>
                                <p class="text-blk desc">
                                    HTML
                                </p>
                                <p class="text-blk info">
                                    HTML is the foundation of web development, used to structure content on web pages. I
                                    have a strong understanding of HTML to create the semantic structure of a website,
                                    including headings, paragraphs, lists, links, forms, and more.
                                </p>
                            </div>
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/css-3.png" alt="front-end developement css skill">
                                </div>
                                <p class="text-blk desc">
                                    CSS | SCSS
                                </p>
                                <p class="text-blk info">
                                    CSS is used to style and format the HTML content, determining how elements are
                                    presented visually. I am proficient in writing CSS to control aspects like layout,
                                    typography, colors, spacing, and responsive design for different screen sizes.
                                </p>
                            </div>
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/js.png" alt="front-end developement JavaScript skill">
                                </div>
                                <p class="text-blk desc">
                                    Javascript
                                </p>
                                <p class="text-blk info">
                                    JavaScript is a programming language that adds interactivity and dynamic behavior to
                                    web pages. I have use JavaScript to create interactive elements, perform form
                                    validations, handle user interactions, and fetch and display data from APIs.
                                </p>
                            </div>
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/angular.png" alt="front-end developement Anglar skill">
                                </div>
                                <p class="text-blk desc">
                                    Angular
                                </p>
                                <p class="text-blk info">
                                    Angular is a popular open-source front-end web application framework. I use it for
                                    building dynamic, single-page web applications (SPAs) and cross-platform mobile
                                    applications. Angular helps developers create robust, efficient, and maintainable
                                    applications by providing a structured approach to building user interfaces.
                                </p>
                            </div>
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/responsive.png"
                                        alt="front-end developement Responsive Design skill">
                                </div>
                                <p class="text-blk desc">
                                    Responsive Design
                                </p>
                                <p class="text-blk info">
                                    I need to design websites that look and function well across various devices and
                                    screen sizes, from desktops to smartphones and tablets. Responsive design ensures a
                                    seamless user experience by adapting the layout and content to different
                                    resolutions.
                                </p>
                            </div>

                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/jQuery.webp" alt="front-end developement jQuery skill">
                                </div>
                                <p class="text-blk desc">
                                    jQuery
                                </p>
                                <p class="text-blk info">
                                    As i have lot of experince in jQuery and I use to to manipulate the DOM (Document
                                    Object Model),perform animations, handle events, make AJAX requests, and manage
                                    other common web development tasks using a consistent and cross-browser-compatible
                                    API.
                                </p>
                            </div>
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/bootstrap.png" alt="front-end developement bootsrtap skill">
                                </div>
                                <p class="text-blk desc">
                                    Bootstrap | Tailwind
                                </p>
                                <p class="text-blk info">
                                    In bootsrtap I have experince in Responsive Grid System,CSS Components,Responsive
                                    Utilities,JavaScript Widgets,
                                    Theming and Customization,Compatibility,Flexbox and CSS Grid Support
                                </p>
                            </div>
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/typescript.png" alt="front-end developement typescript skill">
                                </div>
                                <p class="text-blk desc">
                                    TypeScript
                                </p>
                                <p class="text-blk info">
                                    TypeScript is a programming language that adds interactivity and dynamic behavior to
                                    web pages. I have use typescript to create interactive elements, perform form
                                    validations, handle user interactions, and fetch and display data from
                                    APIs,Interface, Type Interface Classes etc.
                                </p>
                            </div>
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/atom.png" alt="front-end developement React skill">
                                </div>
                                <p class="text-blk desc">
                                    React
                                </p>
                                <p class="text-blk info">
                                    React is a popular open-source front-end web application Library. I use it for
                                    building dynamic, single-page web applications (SPAs) and cross-platform mobile
                                    applications. Angular helps developers create robust, efficient, and maintainable
                                    applications by providing a structured approach to building user interfaces.
                                </p>
                            </div>
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/figma.png" alt="front-end developement Figma skill">
                                </div>
                                <p class="text-blk desc">
                                    Figma | XD
                                </p>
                                <p class="text-blk info">
                                    A strong understanding of UI/UX design principles helps me to create interfaces that
                                    are intuitive and user-friendly. This includes considerations for navigation,
                                    layout, readability, and accessibility.
                                </p>
                            </div>
                            <div class="responsive-container-block card">
                                <div class="responsive-container-block img">
                                    <img src="../../../../assets/images/skills-technologies/wordpress.png" alt="front-end developement wordpress skill">
                                </div>
                                <p class="text-blk desc">
                                    Wordpress
                                </p>
                                <p class="text-blk info">
                                    I have experince in wordpress to create and manage websites, blogs, and online
                                    content without needing extensive technical expertise. Key features include:
                                    user-friendly Interface,Themes,plugins,Customization,Responsive design,SEO friendly.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>