<!-- area of expertise -->

<div class="saufik-expertise-container section-bottom-inner-space position-relative">
  <div class="saufik-expertise-wrapper sections-space pb-0">

    <div class="position-relative expertise-heading mb-4 px-lg-0 px-3">
      <h1 class="saufikSections-mainHeading text-center section-title mb-5">Our areas of expertise</h1>
    </div>

    <div class="expertise_inner">
      <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/Automationicon-01.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/process-automation.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Automation</h3>
                <p class="fcp_retail_solution_para max font-14">Replace repeatable processes & reduce manual intervention.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/healthcareicon-02.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/healthcare.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Health Care</h3>
                <p class="fcp_retail_solution_para max font-14">Assists hospital administration in day-to-day operations.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/manufacturingicon-03.svg" alt="">
              </div>
              
              <img
                src="../../../../assets/images/manufacturing.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Manufacturing</h3>
                <p class="fcp_retail_solution_para max font-14">Improve manufacturing quality, productivity, & practices.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/realestateicon-04.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/realEstate.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Real Estate</h3>
                <p class="fcp_retail_solution_para max font-14">Technologies to enhance the buying and selling experience.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/HRicon-05.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/HR.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Human Resources</h3>
                <p class="fcp_retail_solution_para max font-14">Managing & optimizing the daily human resources tasks.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/educationicon-06.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/education.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Education</h3>
                <p class="fcp_retail_solution_para max font-14">The learning process in order to improve teaching & learning.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/devOpsicon-07.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/devops.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">DevOps</h3>
                <p class="fcp_retail_solution_para max font-14">A collaborative or shared approach to the tasks performed.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/leadsicon-08.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/leadsmgt.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Leads Management</h3>
                <p class="fcp_retail_solution_para max font-14">Helps qualify incoming leads, analyze & nurture them.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/mediaadsicon-09.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/mediaAds.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Media Ads</h3>
                <p class="fcp_retail_solution_para max font-14">To promote their products and services to potential customers.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/ecommerceicon-10.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/ecommerce.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">eCommerce</h3>
                <p class="fcp_retail_solution_para max font-14">A method of buying and selling goods and services online.</p>
              </div>
              <div class="card-overlay"></div>
              <div class="card-notch w-embed">
                <img src="../../../../assets/images/proj-card-img.svg" alt="">
              </div>
            </div>

          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="testimonial_overlay_wrapper">
      <div class="testimonial-overlay-right bg-fff"></div>
      <div class="testimonial-overlay-left bg-fff"></div>
    </div>
  </div>
</div>