<!-- area of expertise -->

<div class="saufik-expertise-container section-top-inner-space pb-4 position-relative">
  <div class="saufik-expertise-wrapper sections-space pb-0">

    <div class="position-relative expertise-heading mb-4 px-lg-0 px-3">
      <h1 class="saufikSections-mainHeading text-center section-title mb-5">Areas of Expertise</h1>
    </div>

    <div class="expertise_inner">
      <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/Automationicon-01.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/process-automation.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Front-end</h3>
                <p class="fcp_retail_solution_para max font-14">Building responsive and dynamic web pages with API Integration.</p>
              </div>
              <div class="card-overlay"></div>
             
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/healthcareicon-02.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/healthcare.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Landing page</h3>
                <p class="fcp_retail_solution_para max font-14">Create high-converting, visually impactful landing pages tailored to your business goals.</p>
              </div>
              <div class="card-overlay"></div>
              
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/manufacturingicon-03.svg" alt="">
              </div>
              
              <img
                src="../../../../assets/images/manufacturing.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Admin Panel</h3>
                <p class="fcp_retail_solution_para max font-14">data-driven admin panels and dashboards that empower you to manage and monitor your business effortlessly.</p>
              </div>
              <div class="card-overlay"></div>
            
            </div>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/realestateicon-04.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/realEstate.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">Figma to HTML</h3>
                <p class="fcp_retail_solution_para max font-14">My Figma to HTML service brings your designs to life with pixel-perfect accuracy</p>
              </div>
              <div class="card-overlay"></div>
             
            </div>

          </div>
        </ng-template>
       
        <ng-template carouselSlide>
          <div class="expertise-card">
            <div class="expertise-solution-card">
              <div class="icon-exp">
                <img src="../../../../assets/images/ecommerceicon-10.svg" alt="">
              </div>
              <img
                src="../../../../assets/images/ecommerce.jpg"
                class="expertise-solution-img">
              <div class="exp-info-copy">
                <h3 class="fcp_retail_title font-20">eCommerce</h3>
                <p class="fcp_retail_solution_para max font-14">A method of buying and selling goods and services online.</p>
              </div>
              <div class="card-overlay"></div>
              
            </div>

          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="testimonial_overlay_wrapper">
      <div class="testimonial-overlay-right bg-fff"></div>
      <div class="testimonial-overlay-left bg-fff"></div>
    </div>
  </div>
</div>