<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text d-flex justify-content-center flex-column">
        <div class="d-flex align-items-center flex-lg-nowrap flex-md-nowrap flex-wrap justify-content-lg-between justify-content-center mx-lg-5">
            <div class="d-flex flex-column flex-wrap">
                <div class="mx-lg-4 mx-0 mt-lg-0 mt-md-3 mt-5">
                    <p class="text-label mb-3 text-warning font-14">[ {{projectDetailData?.bannerTitle}} ]</p>
                    <h1 class="fw-6 font-16" [innerHtml]="projectDetailData?.bannerDescription">{{projectDetailData?.bannerDescription}}</h1>
                </div>
            </div>
            <div class="project-banner mt-lg-5 mt-md-0 mt-0">
                <ng-container *ngFor="let img of projectDetailData?.ProjectImg">
                    <img src="../../../../assets/images/{{img.cardImage}}" >
                </ng-container>
            </div>
        </div>
    </div>
    <div class="banner-shape-svg">
        <svg width=" 100%" height=" 100%" viewBox="0 0 1920 133" fill="none" xmlns="http://www.w3.org/2000/svg" id="home-banner-svg">
          <g clip-path="url(#clip0_25_1623)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.44962e-05 0.0383301L2.33127e-05 64.0001L0 197.333L858.667 197.334L1061.33 197.334L1233.07 197.334L1404.8 197.334L1576.53 197.334L1748.27 197.334L1920 197.334V133.334V69.3337C1920 104.68 1891.35 133.334 1856 133.334L1748.27 133.334L1576.53 133.334L1404.8 133.334L1233.07 133.334L1061.33 133.334H1021.18C1004.2 133.334 987.924 126.591 975.921 114.588L944.078 82.7454C932.076 70.743 915.797 64.0002 898.823 64.0002L858.667 64.0002L64 64.0001H63.9932C28.6629 63.9964 0.0206942 35.3647 3.44962e-05 0.0383301Z" fill="currentColor"></path>
          </g>
          <defs>
          <clipPath id="clip0_25_1623">
          <rect width="1920" height="300" fill="currentColor"></rect>
          </clipPath>
          </defs>
          </svg>
      </div>
</div>
<div class="container section-top-inner-space">
    <div class="row mx-lg-5">
        <div class="col-lg-6">
            <div class="col-md-12">
                <div class="proj-card-wrapper">
                    <div class="proj-card-row mt-3">
                        <div class="proj-card-caption">Introduction
                        </div>
                        <div class="text-block font-14">{{projectDetailData?.projIntro}}</div><a href="{{projectDetailData?.projectLink}}" target="_blank"
                            class="project-btn mt-3 font-12">Get App</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="proj-card-wrapper bg-light">
                    <div class="proj-card-row mt-3">
                        <div class="proj-icon">
                            <img src="../../../../assets/images/proj-goal.svg" alt="">
                        </div>
                        <div class="proj-card-caption mt-4">Project Goal
                        </div>
                        <div class="text-block font-14">{{projectDetailData?.projGoal}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-lg-0 mt-md-5 mt-5">
            <div class="proj-card-wrapper green h-100">
                <div class="proj-card-row mt-3">
                    <div class="proj-icon">
                        <img src="../../../../assets/images/proj-comp-size.svg" alt="">
                    </div>
                    <div class="proj-card-caption mt-4">Industry
                    </div>
                    <div class="text-block font-14">{{projectDetailData?.industry}}</div>
                    <div class="proj-card-caption mt-4">Company Size
                    </div>
                    <div class="text-block font-14">50 - 100 peoples</div>
                    <div class="proj-card-caption mt-4">Services We Provided
                    </div>
                    <div class="text-block font-14">Creating of a product design system with guidelines and style guides</div>
                    <div class="text-block font-14">Creating applications  for desktop, tablet and mobile views</div>
                    <div class="text-block font-14">Creating of design layouts for all applications and additional elements</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-lg-5">
        <div class="col-lg-12">
            <div class="proj-card-wrapper purple mt-5">
                <div class="proj-card-row mt-3">
                    <div class="proj-icon">
                        <img src="../../../../assets/images/what-we-use-proj.svg" alt="">
                    </div>
                    <div class="technology-used">
                        <div>
                            <div class="proj-card-caption mt-4">What we use
                            </div>
                            <div class="text-block font-14">Our development teams apply the latest, cutting-edge technologies,
                                front-end, and back-end development tools.</div>
                        </div>
                        <div class="d-flex flex-column flex-wrap align-items-center justify-content-center  mt-lg-0 mt-md-0 mt-4">
                            <img class="mw-100" src="../../../../assets/images/instruments&tech.svg" alt="">
                            <div class="mt-4 tech-instruments d-flex flex-wrap justify-content-center">
                                <ng-container *ngFor="let img of projectDetailData?.technologyStack">
                                    <div class="instruments-item">
                                        <img class="w-100" src="../../../../assets/images/{{img}}">
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-tagline">
            <div class="text-block font-14 d-none">Projul is an American automotive company that we have been working with for more
                than 3 years.</div>
            <div class="text-block mt-5 font-16 d-none">It provides an end-to-end SaaS solution for digital multi-point inspections,
                videos, parts pricing and availability, customer communications, and online payments that fully
                integrate with existing dealership management systems.</div>
            <div class="mt-5">
                <!-- <img class="w-100" src="../../../../assets/images/proj-main-img.png" alt=""> -->
                <ng-container *ngFor="let img of projectDetailData?.ProjectImg">
                    <img class="w-100" src="../../../../assets/images/{{img.projMainimg}}" >
                </ng-container>
            </div>

        </div>
    </div>

</div>
<div class="container section-bottom-inner-space mt-5 position-relative">
    <div class="section-title mt-4 text-center mb-5">Project's Features
    </div>
    <div class="row mx-lg-5">
        <div class="col-lg-6 col-md-6">
            <div class="proj-card-wrapper text-center border-0 grey h-100 position-relative">
                
                <div class="proj-card-row mt-3">
                    <div class="intro-section-item">
                        <img src="../../../../assets/images/quotation-3.png" alt="">
                    </div>
                    <div class="proj-card-caption mt-4">{{projectDetailData?.feature1}}
                    </div>
                    <div class="text-block text-center font-14">{{projectDetailData?.feature1description}}</div>
                </div>
                <img src="../../../../assets/images/proj-card-img.svg" alt="" class="card-border">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-lg-0 mt-md-0 mt-5">
            <div class="proj-card-wrapper text-center border-0 lilac h-100 position-relative">
                <div class="proj-card-row mt-3">
                    <div class="intro-section-item">
                        <img src="../../../../assets/images/quotation-3.png" alt="">
                    </div>
                    <div class="proj-card-caption mt-4">{{projectDetailData?.feature2}}
                    </div>
                    <div class="text-block text-center font-14">{{projectDetailData?.feature2description}}</div>
                </div>
                <img src="../../../../assets/images/proj-card-img.svg" alt="" class="card-border">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-5">
            <div class="proj-card-wrapper text-center border-0 neon h-100 position-relative">
                <div class="proj-card-row mt-3">
                    <div class="intro-section-item">
                        <img src="../../../../assets/images/quotation-3.png" alt="">
                    </div>
                    <div class="proj-card-caption mt-4">{{projectDetailData?.feature3}} </div>
                    <div class="text-block text-center font-14">{{projectDetailData?.feature3description}}</div>
                </div>
                <img src="../../../../assets/images/proj-card-img.svg" alt="" class="card-border">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-5">
            <div class="proj-card-wrapper text-center border-0 green h-100 position-relative">
                <div class="proj-card-row mt-3">
                    <div class="intro-section-item">
                        <img src="../../../../assets/images/quotation-3.png" alt="">
                    </div>
                    <div class="proj-card-caption mt-4">{{projectDetailData?.feature4}}</div>
                    <div class="text-block text-center font-14">{{projectDetailData?.feature4description}}</div>
                </div>
                <img src="../../../../assets/images/proj-card-img.svg" alt="" class="card-border">
            </div>
        </div>
    </div>
    <div class="proj-quote d-none">
        <img src="../../../../assets/images/quotationIcon.png" alt="">
    </div>
</div>
<div class="container section-top-inner-space section-bottom-inner-space d-none">
    <div class="row mx-lg-5">
        <div class="col-lg-12">
            <div class="proj-card-wrapper text-center grey h-100">
                <div class="proj-card-row mt-3">
                    <div class="section-title mt-4">Project's Challenge
                    </div>
                    <div class="text-block text-centetext-block text-center my-5 font-14r font-14">The ultimate goal for Projul. is to replace the outdated
                        processes in the car business with modern digital alternatives fit for the modern tech-savvy
                        customer to let the modern, tech-savvy customers perform the business how they would choose.
                    </div>
                    <div class="proj-challenge-img">
                        <img class="w-100" src="../../../../assets/images/proj-challenge.png" alt="">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <div class="proj-card-wrapper text-center lilac h-100 border-0 rounded-0">
                <div class="proj-card-row mt-3">
                    <div class="text-block text-centetext-block text-center my-5 font-14r font-14">The customer was able to integrate our process into their
                        existing tools and systems.We used Notion boards to track tasks, backlogs, and feature
                        discussions.</div>

                    <div class="text-block text-centetext-block text-center my-5 font-14r font-14">Gradually, we added two more front-end developers and one
                        back-end developer who provided new functionality.</div>
                    <div class="proj-challenge-img">
                        <img class="w-100" src="../../../../assets/images/proj-review.png" alt="">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>