<ng-container *ngIf="serviceDetailData" >
    <div class="dev-background position-relative">
        <ng-container >
            <div class="{{serviceDetailData?.bannerImg}} bannerImg"></div>
        </ng-container>
      <div class="container banner-text d-flex align-items-center">
          <div class="mt-lg-5">
              <p class="text-label mb-3 text-warning font-14">[ Our Services ]</p>
              <h1 class="font-20">{{serviceDetailData.mainTitle }} Services</h1>
              <p class="mb-2 font-14">{{serviceDetailData.Technologies}}</p>
              <p class="font-14">80+ delivered projects. ★4.9 / 5 .</p>
              <button class="btn btn-primary btn-custom py-lg-3 py-md-2 py-2 bg-white text-primary font-12 text-uppercase" [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active">Let's
                  Start</button>
          </div>
      </div>
      <div class="banner-shape-svg">
        <svg width=" 100%" height=" 100%" viewBox="0 0 1920 133" fill="none" xmlns="http://www.w3.org/2000/svg" id="home-banner-svg">
          <g clip-path="url(#clip0_25_1623)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.44962e-05 0.0383301L2.33127e-05 64.0001L0 197.333L858.667 197.334L1061.33 197.334L1233.07 197.334L1404.8 197.334L1576.53 197.334L1748.27 197.334L1920 197.334V133.334V69.3337C1920 104.68 1891.35 133.334 1856 133.334L1748.27 133.334L1576.53 133.334L1404.8 133.334L1233.07 133.334L1061.33 133.334H1021.18C1004.2 133.334 987.924 126.591 975.921 114.588L944.078 82.7454C932.076 70.743 915.797 64.0002 898.823 64.0002L858.667 64.0002L64 64.0001H63.9932C28.6629 63.9964 0.0206942 35.3647 3.44962e-05 0.0383301Z" fill="currentColor"></path>
          </g>
          <defs>
          <clipPath id="clip0_25_1623">
          <rect width="1920" height="300" fill="currentColor"></rect>
          </clipPath>
          </defs>
          </svg>
      </div>
  </div>
  </ng-container>
  <div class="client-logos mt-5 bg-light">
      <div class="container">
          <div class="d-flex align-items-center py-4 mx-lg-5 flex-lg-nowrap flex-wrap">
              <h6 class="text-dark text-nowrap my-0 "> Trusted By</h6>
              <div class="services-trusted-clients w-100">
                <div class="services-logo d-lg-flex justify-content-between w-100 flex-wrap mx-lg-5 mx-md-0 mx-0 mt-lg-0 mt-md-0 mt-4">
                    <ng-container *ngFor="let item of serviceDetailData?.trustedImages" >
                     <img src="../../../../assets/images/{{item}}" alt="">
                    </ng-container>
     
                 </div>
              </div>
            
          </div>
      </div>
  </div>
  <div class="co-founder section-top-inner-space section-bottom-inner-space d-none">
      <div class="container">
          <div class="row mx-lg-5">
              <div class="col-lg-6 mt-5">
                  <h2 class="heading-3 font-30">We focus on the fastest route to market – respecting your time and pushing
                      your
                      web app to success.</h2>
                  <p class="sub-para font-16">Scale your web app development with experienced full-stack developers and
                      product
                      experts from one of the top JavaScript development companies in Europe.</p>
              </div>
              <div class="col-lg-6">
                  <img class="w-100" src="../../../../assets/images/cover-founder.jpg" alt="">
              </div>
  
          </div>
      </div>
  </div>
  <div class="software-dev-sec section-top-inner-space section-bottom-inner-space">
      <div class="blue-overlay"></div>
      <div class="container position-relative">
          <div class="row">
              <h2 class="section-title">Our Services</h2>
              <div class="col-lg-7 mt-5">
                  <ul class="nav nav-tabs border-0 justify-content-center">
                    <ng-container *ngFor="let item of serviceDetailData?.servicesFeatures">
                      <li class="nav-item">         
                                <a class="nav-link active font-14" data-bs-toggle="tab" id="technical-Consulting"
                              data-bs-target="#technicalConsulting">{{item}}</a>                              
                      </li>
                    </ng-container>
                  </ul>
              </div>
              <div class="tab-content col-lg-5">
                  <div class="tab-pane fade show active" id="technicalConsulting" aria-labelledby="technical-Consulting">
                      <div class="card service-card">
                        <ng-container>
                            <img src="../../../../assets/images/{{serviceDetailData?.serviceIcon}}" alt="">
                           </ng-container>
                          <h2 class="font-16">{{serviceDetailData?.serviceName}}</h2>
                          <p class="font-14">{{serviceDetailData?.serviceDetail}}</p>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="fullstackDev" aria-labelledby="full-stackDev">
                      <div class="card service-card">
                          <img src="../../../../assets/images/consutling-icon.svg" alt="">
                          <h2>Technical Consulting fdcd</h2>
                          <p>Our consultants identify and prioritize business goals, analyze existing investments and
                              systems, and create a roadmap for software delivery and monitoring services. As a trusted
                              digital partner, we work together with our clients to plan and build software optimized for
                              their specific needs that provides true and sustainable value.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="advantages section-top-inner-space section-bottom-inner-space">
      <div class="container">
          <div class="text-md-center">
              <h2 class="section-title">Accelerate your software development.</h2>
          </div>
  
          <div class="w-layout-grid mx-lg-5 px-lg-5">
              <div class="outcome-grid-inner">
                  <div class="outcome-grid-inner-hr">
                      <h3 class="heading-3 font-20">Set your app for scalability</h3>
                  </div>
                  <div class="outcome-grid-inner-bottom">
                      <p class="sub-para font-16">Build a web app that grows as your business grows, depending on the
                          demand.
                      </p>
                  </div>
              </div>
              <div class="outcome-grid-inner">
                  <div class="outcome-grid-inner-hr">
                      <h3 class="heading-3 font-20">Speed up your app</h3>
                  </div>
                  <div class="outcome-grid-inner-bottom">
                      <p class="sub-para font-16">Optimize your app for speed to drive more conversions and user
                          engagement.</p>
                  </div>
              </div>
              <div class="outcome-grid-inner">
                  <div class="outcome-grid-inner-hr">
                      <h3 class="heading-3 font-20">Find product-market fit</h3>
                  </div>
                  <div class="outcome-grid-inner-bottom">
                      <p class="sub-para font-16">Validate your MVP, discover who your ideal customers are and find a
                          problem-solution fit.</p>
                  </div>
              </div>
              <div class="outcome-grid-inner">
                  <div class="outcome-grid-inner-hr">
                      <h3 class="heading-3 font-20">Develop microservices</h3>
                  </div>
                  <div class="outcome-grid-inner-bottom">
                      <p class="sub-para font-16">Release software fast and frequently, and quickly adapt to market
                          changes.</p>
                  </div>
              </div>
              <div class="outcome-grid-inner">
                  <div class="outcome-grid-inner-hr">
                      <h3 class="heading-3 font-20">Stunning UX &amp; UI for users</h3>
                  </div>
                  <div class="outcome-grid-inner-bottom">
                      <p class="sub-para font-16">Design a web app that fulfils your business goals and creates a
                          meaningful
                          experience for users.</p>
                  </div>
              </div>
              <div class="outcome-grid-inner">
                  <div class="outcome-grid-inner-hr">
                      <h3 class="heading-3 font-20">Leverage cloud solutions</h3>
                  </div>
                  <div class="outcome-grid-inner-bottom">
                      <p class="sub-para font-16">Reduce the costs and time spent on managing and maintaining your
                          business' IT
                          infrastructure.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="tech-languages section-bottom-inner-space">
      <div class="container">
          <div class="text-center">
              <h2 class=" section-title mb-3 ">With technology that’s here to stay.</h2>
              <p class="sub-para mb-0 font-16">Get an unbiased perspective on the best frameworks and tools for your
                  project.</p>
              <p class="sub-para mb-0 font-16">With 70+ completed projects, we’ve seen enough to save you from trouble.
              </p>
          </div>
          <div class="section-top-inner-space">
              <div class="logo-grid" >
                <ng-container *ngFor="let item of serviceDetailData?.techImages">
                    <img src="../../../../assets/images/{{item}}" alt="">
                </ng-container>
                <!-- <ng-container *ngFor="let item of serviceDetailData?.trustedImages" >
                    <img src="../../../../assets/images/{{item}}" alt="">
                   </ng-container> -->
                  <!-- <img src="../../../../assets/images/node-logo.svg" alt="">
                  <img src="../../../../assets/images/dotnet-logo.svg" alt="">
                  <img src="../../../../assets/images/react-logo.svg" alt="">
                  <img src="../../../../assets/images/typescript-logo.svg" alt="">
                  <img src="../../../../assets/images/react-native-logo.svg" alt="">
                  <img src="../../../../assets/images/aws-logo.svg" alt="">
                  <img src="../../../../assets/images/nest-logo.svg" alt="">
                  <img src="../../../../assets/images/redux-logo.svg" alt=""> -->
              </div>
          </div>
      </div>
  </div>
  <div class="advisor-section section-top-inner-space section-bottom-inner-space">
      <div class="container">
          <div class="text-center text-white">
              <h2 class="heading-2 mb-lg-3 font-30">With 80+ projects under our belt, there’s a high chance we can help
              </h2>
              <h2 class="heading-2 mb-3 font-30">with yours.</h2>
              <p class="sub-para font-16">Consult your most pressing challenge with our technical advisors.</p>
          </div>
          <div class="d-flex justify-content-center">
              <button class="btn btn-primary py-3 mt-4 bg-white text-primary btn-custom font-14" [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active">Book A Tech Call</button>
          </div>
  
      </div>
  </div>
  <div class="strategy-flow section-top-inner-space">
      <div class="container d-flex justify-content-center align-items-center flex-column">
          <div class="text-center">
              <h2 class="section-title mb-3 font-30">Our secret?</h2>
              <h2 class="heading-2 mb-3 font-30">90% of iteration goals contribute to product goals.</h2>
              <p class="sub-para mb-0 font-16">Sounds simple, yet barely anyone in the industry even measures it.</p>
              <p class="sub-para font-16">For us, that's the primary thing that keeps our focus on what's needed for your
                  product to succeed.</p>
          </div>
          <div class="strategy-img mt-4">
              <img class="px-3" src="../../../../assets/images/strategy-diagram.png" alt="">
          </div>
      </div>
  </div>
  <div class="featured-industries section-bottom-inner-space section-top-inner-space">
      <div class="container">
          <h2 class="mb-5 section-title text-center font-30">Featured Industries</h2>
          <div class="featured-details" >
              <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide>
                      <div class="feature-btn mb-2">
                          <img src="../../../../assets/images/education-feature.svg" alt="">
                          <span class="font-16 mt-2">Education</span>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="feature-btn mb-2">
                          <img src="../../../../assets/images/healthcare-feature.svg" alt="">
                          <span class="font-16 mt-2">Healthcare</span>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="feature-btn mb-2">
                          <img src="../../../../assets/images/finance-feature.svg" alt="">
                          <span class="font-16 mt-2">Finance</span>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="feature-btn mb-2">
                          <img src="../../../../assets/images/transport-feature.svg" alt="">
                          <span class="font-16 mt-2">Transportation</span>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="feature-btn mb-2">
                          <img src="../../../../assets/images/tech-feature.svg" alt="">
                          <span class="font-16 mt-2">Technology</span>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="feature-btn mb-2">
                          <img src="../../../../assets/images/telecom-feature.svg" alt="">
                          <span class="font-16 mt-2">Telecom</span>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="feature-btn mb-2">
                          <img src="../../../../assets/images/energy-feature.svg" alt="">
                          <span class="font-16 mt-2">Energy</span>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="feature-btn mb-2">
                          <img src="../../../../assets/images/real-state-feature.svg" alt="">
                          <span class="font-16 mt-2">Real State</span>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="feature-btn mb-2">
                          <img src="../../../../assets/images/retail-feature.svg" alt="">
                          <span class="font-16 mt-2">Retail</span>
                      </div>
                  </ng-template>
              </owl-carousel-o>
  
          </div>
      </div>
  </div>
  <div class="faq-section section-bottom-inner-space">
      <div class="container">
          <div class="row mx-lg-5">
              <div class="col-lg-6 col-md-12 mt-1 px-4">
                  <h2 class="section-title ">{{serviceDetailData?.faqTitle}}</h2>
                  <p class="sub-para font-16">{{serviceDetailData?.faqDescription}}</p>
              </div>
              <div class="col-lg-6">
                <div class="accordion d-flex flex-column gap-2" >
                  <ng-container *ngFor="let item of serviceDetailData?.faq;let i = index">
                    <div [ngClass]="faqId == i ?'show':''" class="accordion ot-accordions faqAccord cursor-pointer  ">
                      <div class="card-header  acc-toggle " (click)="toggleAccordient(i)" id="heading0">
                          <div class="d-flex align-items-center text-decoration-none">
                              <i class="fa-solid fa-chevron-right mx-2"></i>
                              <span class="tab-title heading-3 font-20">{{item.query}}</span>
                          </div>
                      </div>
                      <div class="card-body acc-content p-lg-0">
                          <p class="sub-para font-16">{{item.ans}}</p>
                      </div>
  
                    </div>
                    </ng-container>
  
                  </div>
              </div>
  
          </div>
      </div>
  </div>
  <div class="d-flex flex-column align-items-center get-started section-bottom-inner-space heading-2">
      <div class="container d-flex flex-column align-items-center justify-content-center">
          <h1 class="section-title">Ready to Get Started?</h1>
          <button class="btn btn-primary py-3 btn-custom font-14 mt-2" [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active" >Let's Connect</button>
      </div>
  </div>
  