<ng-container *ngIf="headerdata">
  <div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text d-flex align-items-center">
      <div class="mt-5">
        <ng-container *ngIf="headerdata.title">
          <p class="text-label mb-3 text-warning font-14">[{{headerdata.title}} ]</p>
        </ng-container>
        <ng-container *ngIf="headerdata.subTitle">
          <h1 class="font-20" [innerHtml]="headerdata.subTitle"></h1>
        </ng-container>
        <ng-container *ngIf="headerdata.tagline">
          <p class="font-14" [innerHTML]="headerdata.tagline"></p>
        </ng-container>
        <ng-container *ngIf="headerdata.button">
          <button
            class="btn btn-primary btn-custom py-lg-3 py-md-2 py-2 bg-white text-primary font-12 text-uppercase" [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active">{{headerdata.button}}
          </button>
        </ng-container>
      </div>
    </div>
  </div>

</ng-container>
