<!-- header and video section -->

<div class="position-relative">
  <div class="home-hero-wrapper">
    <owl-carousel-o [options]="heroCarousel">
      <ng-template carouselSlide>
        <video [muted]="'muted'" loop autoplay plays-inline class="background-video w-100">
          <source src="../../../../assets/images/saufik-hero-bg.mp4" type="video/mp4" />
        </video>

        <div class="content-hero">
          <div class="home-hero-display--intro">
            <h1 class="d-none d-sm-block">
              Turning your vision into<br> a successful product
            </h1>
            <h1 class="d-sm-none">
              Turning your vision <br> into a successful <br> product
            </h1>
          </div>
          <div class="home-hero-display--description mt-lg-3 mt-md-2 mb-lg-0 mb-md-0 mb-3">
            <div class="sub-hero-title font-14">
              At SAUFIK, we know first-hand what custom software development  solutions are. You can count not only<br> on extensive tech
              expertise  but also on a keen understanding of the world of business,  considering <br> that we’ve been building bespoke B2B
              solutions for small and mid-size  businesses since 2015.
            </div>
          </div>

          <div class="link-icon-wrapper1 mt-md-3 d-lg-none">


            <div class="d-flex flex-lg-nowrap">
              <a type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase font-12 text-decoration-none"  href="https://calendly.com/saufik" target="_blank"> Schedule a call
              </a>
              <button type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase font-12" (click)="openModal()"> Watch Video
              </button>
            </div>

          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <video [muted]="'muted'" loop autoplay plays-inline class="background-video w-100">
          <source src="../../../../assets/images/saufik-hero-2.mp4" type="video/mp4" />
        </video>

        <div class="content-hero">
          <div class="home-hero-display--intro">
            <h1>
              Powerful Web &<br>Mobile App Start-to-End
            </h1>
          </div>
          <div class="home-hero-display--description mt-lg-3 mt-md-2 mb-lg-0 mb-md-0 mb-3">
            <div class="sub-hero-title font-14">
              Next-level personalized experience and<br> hyper-automation excellence
            </div>
          </div>



          <div class="link-icon-wrapper1 d-md-none xx">


            <div class="d-flex flex-lg-nowrap">
              <a type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase font-12 text-decoration-none"  href="https://calendly.com/saufik" target="_blank"> schedule a call
              </a>
              <button type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase font-12" (click)="openModal()"> Watch Video
              </button>
            </div>

          </div>
        </div>




      </ng-template>
      
     
    </owl-carousel-o>
    <div class="d-none">
      <img src="../../../../assets/images/saufik-animation.svg">
    </div>
    <div class="link-icon-wrapper d-md-none d-lg-block">  
      <div class="d-flex flex-lg-nowrap">
        <a type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase font-12 text-decoration-none" target="_blank" href="https://calendly.com/saufik"> Schedule a call </a>
        <button type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase font-12" style="
    background: #151d21;" (click)="openModal()"> Watch Video </button>
      </div>

      <div class="icon-wrap">
        <a href="#"><span class="mbr-iconfont mbr-iconfont-btn mobi-mbri-down mobi-mbri"></span></a>
      </div>
    </div>
    <div class="banner-shape-svg">
      <svg width=" 100%" height=" 100%" viewBox="0 0 1920 133" fill="none" xmlns="http://www.w3.org/2000/svg" id="home-banner-svg">
        <g clip-path="url(#clip0_25_1623)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.44962e-05 0.0383301L2.33127e-05 64.0001L0 197.333L858.667 197.334L1061.33 197.334L1233.07 197.334L1404.8 197.334L1576.53 197.334L1748.27 197.334L1920 197.334V133.334V69.3337C1920 104.68 1891.35 133.334 1856 133.334L1748.27 133.334L1576.53 133.334L1404.8 133.334L1233.07 133.334L1061.33 133.334H1021.18C1004.2 133.334 987.924 126.591 975.921 114.588L944.078 82.7454C932.076 70.743 915.797 64.0002 898.823 64.0002L858.667 64.0002L64 64.0001H63.9932C28.6629 63.9964 0.0206942 35.3647 3.44962e-05 0.0383301Z" fill="currentColor"></path>
        </g>
        <defs>
        <clipPath id="clip0_25_1623">
        <rect width="1920" height="300" fill="currentColor"></rect>
        </clipPath>
        </defs>
        </svg>
    </div>
  
  </div>


</div>
<!-- header and video section end -->
<!-- logo section -->
<div class="logo-sec section-top-inner-space section-bottom-inner-space">
  <div class="teams position-relative">
    <div class="teams__heading mb-4">
      <p class="teams__title  text-center">TRUSTED BY SOME OF THE WORLD’S BEST TEAMS</p>
    </div>
    <div class="position-relative trusted-clients">
      <div class="d-flex world-best-team align-items-center justify-content-center flex-nowrap">
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/projul-logo.png">
        </div>
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/calimatic-logo.png">
        </div>
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/Reid-logo.png">
        </div>
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/CPR-logo.png">
        </div>
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/gmd-logo.png">
        </div>
        
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/MGA-logo.png">
        </div>
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/simplesafety-logo.png">
        </div>
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/sciensus-logo.png">
        </div>
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/klinikya-logo.png">
        </div>
        <div class="trusted-team-inner">
          <img src="../../../../assets/images/voicy-logo.png">
        </div>
        
      </div>
    </div>
    
  </div>
</div>

<app-saufik-services></app-saufik-services>
<app-saufik-offshore-staffing></app-saufik-offshore-staffing>
<app-saufik-expertise></app-saufik-expertise>
<!-- technologies section -->
<div class="tools-technologies">
  <h2 class=" section-title mb-5 mt-lg-0 mt-md-0 mt-4 text-center">Tools & Technologies</h2>
  <div class="overflow-hidden pb-lg-5 pb-3">
    <div class="tech-details mx-3">
      <div class="technology-tools">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/dotnet.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/csh.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/node.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/typescript-logo.svg"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/react.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/angular.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/dotnet.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/javascript.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/devops-logo.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/azure.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/aws.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/sql.png"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/ionic.png"></div>
          </ng-template>
        </owl-carousel-o>

      </div>
    </div>

  </div>
</div>
<!-- new section -->
<section class=" services-title">
  <div class="container">
    <h2 class="section-title text-center d-none">With all the Features You Need</h2>
    <p class="text-center d-none">
      Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas distributed for stand-alone
      web-readiness.</p>
    <div class="row">
      <div class="col-lg-6 mt-4">
        <div class="position-relative d-flex flex-column h-100 flex-wrap bg-danger-soft p-lg-5 p-4 rounded-custom">
          <div class="cta-left-info mb-2 text-left">
            <h5 class="fw-7 font-16">Harness the power of software data</h5>
            <p class="fs-body font-14">Shaping innovative models that deliver niche-specific benefits, ultimately driving integration. </p>
          </div>
          <div class="mt-auto text-left"><a [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active"  class="btn btn-outline-primary btn-sm font-12">Get
              Started</a>
          </div>
          <div class="cta-img position-absolute right-0 bottom-0"><img
              src="../../../../assets/images/technology-card1.png" alt="cta img" class="img-fluid"></div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <div class="position-relative d-flex flex-column h-100 flex-wrap bg-primary-soft p-lg-5 p-4 rounded-custom">
          <div class="cta-left-info mb-2 text-left">
            <h5 class="fw-7 font-16">Leverage cutting-edge softwares</h5>
            <p class="fs-body font-14">Evolved models and unlock revolutionary advantages tailored for seamless integration. </p>
          </div>
          <div class="mt-auto text-left"><a [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active" class="btn btn-outline-primary btn-sm font-12">Get
              Started</a>
          </div>
          <div class="cta-img position-absolute right-0 bottom-0"><img
              src="../../../../assets/images/technology-card2.png" alt="cta img" class="img-fluid"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why choose us -->
<section>
  <div class=" client-testimonial">
    <div
      class=" container section-bottom-inner-space section-top-inner-space section-bottom-outer-space section-top-outer-space ">
      <div class="row">
        <div class="col-lg-6">

          <div>
            <div class="text-center text-lg-start">
              <h2 class="section-title ">Why Choose <span class="text-primary">SAUFIK</span> </h2>
              <p class="mt-4 fs-body font-14">We customize our work processes to suit the specific demands of your project,
                fostering an environment
                conducive to innovation. Our approach is geared towards not only meeting but surpassing your
                expectations, amplifying creativity and problem-solving throughout the entire development journey.

              </p>
              <ul class="p-0 mt-4  d-flex flex-column align-items-center align-items-lg-start">
                <li class="fs-body font-14"> <span> <i class="fa fa-check-circle" aria-hidden="true"></i> </span> <span>Build a
                    functional
                    prototype in 24 hrs</span></li>
                <li class="fs-body font-14"> <span> <i class="fa fa-check-circle" aria-hidden="true"></i> </span> <span>Create
                    an MVP within two
                    weeks</span></li>
                <li class="fs-body font-14"> <span> <i class="fa fa-check-circle" aria-hidden="true"></i> </span>
                  <span>Kickstart software
                    development</span></li>
                <li class="fs-body font-14"> <span> <i class="fa fa-check-circle" aria-hidden="true"></i> </span> <span>Get 24/7
                    tech & business
                    support
                  </span></li>
              </ul>

            </div>
            <hr>
            <div class="text-center text-lg-start">
              <h4> <span> Best Practices From Industry Experts </span></h4>
              <p class="fs-body font-14">We’ve designed a culture that allows our stewards to assimilate with
                our clients and bring.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <div class="image-container position-relative">
            <div class="imges image-1">
              <img src="../../../../assets/images/abq-banner01.jpg" alt="" srcset="">
            </div>
            <div class="imges image-2">
              <img src="../../../../assets/images/chooseus1.jpg" srcset="">
            </div>
            <div class="imges image-3">
              <img src="../../../../assets/images/chooseus2.jpg" alt="" srcset="">
            </div>
            <div class="imges image-4">
              <img src="../../../../assets/images/chooseus3.jpg" alt="" srcset="">
            </div>
            <div class="imges image-5">
              <h3 class="">10+</h3>
              <h6 class="">Years of working experience</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container awards-recognition-section section-bottom-inner-space">
  <div class="text-center">
    <h1 class="section-title text-center mt-lg-0 mt-5">Our Crowning <span class="text-primary">Membership</span></h1>
    <p class="font-14">As a software company, we are partnered with some of the most prestigious organizations. Our
      passion for providing
      turn-key IT <br> Solutions to a plethora of sectors has been recognized by notable bodies such as P@SHA, and PSEB.
    </p>
  </div>

  <div class="row pt-lg-5 pt-3 mx-lg-5">
    <div class="col-lg-6">
      <div
        class="awards-wrapper h-100 d-flex align-items-center justify-content-lg-start justify-content-center flex-lg-nowrap flex-md-nowrap flex-wrap">
        <div class="awards-logo">
          <img src="../../../../assets/images/pasha-logo.png" alt="">
        </div>
        <div class="awards-description">
          <p class="mt-3 px-3">SAUFIK has been a member of Pakistan Software Houses Association, P@SHA members have access to a digital data backbone of premium research and analysis on the latest trends and developments in the IT industry.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mt-lg-0 mt-4">
      <div
        class="awards-wrapper h-100 d-flex align-items-center justify-content-lg-start justify-content-center flex-lg-nowrap flex-md-nowrap flex-wrap">
        <div class="awards-logo">
          <img src="../../../../assets/images/pseb-logo.png" alt="">
        </div>
        <div class="awards-description">
          <p class="mt-3 px-3">SAUFIK has been a member of Pakistan Software Export Board (PSEB) who invites Pakistani origin technologists, entrepreneurs, experts and leaders in information technology to join hands with PSEB to promote innovation in IT. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-none">
  <h2 class="services-title text-center mb-4 section-title">Why Choose Us?</h2>
  <p class="sub-title-light text-center">We personalize how we work to fit your project needs. Our approach helps
    augment innovation.</p>
  <div class="d-flex justify-content-around align-items-center my-4 flex-md-nowrap flex-wrap gap-3">
    <div class="testimonial-content">
      <div>
        <div class="inner-circle">
          <div class="d-flex justify-content-center">
            <img src="../../../../assets/images/why1.svg">
          </div>
        </div>
        <div>
          <h3>Build a&nbsp;functional prototype in&nbsp;24 hrs</h3>
        </div>
      </div>
    </div>
    <div class="testimonial-content">
      <div>
        <div class="inner-circle">
          <div class="d-flex justify-content-center">
            <img src="../../../../assets/images/why2.svg">
          </div>
        </div>
        <div>
          <h3>Create an MVP within two weeks</h3>
        </div>
      </div>
    </div>
    <div class="testimonial-content">
      <div>
        <div class="inner-circle">
          <div class="d-flex justify-content-center">
            <img src="../../../../assets/images/why3.svg">
          </div>
        </div>
        <div>
          <h3>Kickstart software development</h3>
        </div>
      </div>
    </div>
    <div class="testimonial-content">
      <div>
        <div class="inner-circle">
          <div class="d-flex justify-content-center">
            <img src="../../../../assets/images/why4.svg">
          </div>
        </div>
        <div>
          <h3>Get 24/7 tech & business support</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- client review section -->
<div class="client-review position-relative">
  <div class="container">
    <div class="text-center mb-5">
      <h1 class="section-title text-center">What They Say About <span
        class="text-primary">SAUFIK</span>
    </h1>
    <p class="font-14">We discuss the project details, collect the requirements and create a proposal, based on your needs, budget and timeframes.</p>
    </div>
    <div class="row align-items-center">
        <div class="card card-text border-0 rounded-custom h-100">
          <owl-carousel-o [options]="testimonialCarousel">
            <ng-container *ngFor="let item of testtemonial">
              <ng-template carouselSlide *ngFor="let item of clientReviews">
                 <div class="client-review-svg">
                  <svg width=" 100%"  height=" 100%" viewBox="0 0 1128 100" fill="none" xmlns="https://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_239_187448)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1128 100L1128 52L1128 -48L538.4 -48.0001L538.4 51.9999L1080 52C1106.51 52 1128 73.4903 1128 100ZM386.398 -48L538.398 -48L538.398 52L508.281 52C495.55 52 483.341 46.9428 474.34 37.9411L450.457 14.0588C441.456 5.0571 429.247 -3.81988e-05 416.516 -3.93117e-05L386.398 -4.19447e-05L257.602 2.01301e-07L128.802 -1.10588e-05L128.802 -48L257.598 -48L257.602 -48L386.398 -48ZM-0.00316928 48L-0.00316509 -7.06043e-06L-0.00316089 -48L128.797 -48L128.797 4.19963e-06L47.9968 -2.86413e-06C21.4872 -5.18168e-06 -0.00316696 21.4903 -0.00316928 48Z" fill="currentColor"></path>
                    </g>
                    <defs>
                    <clipPath id="clip0_239_187448">
                    <rect width="1128" height="100" fill="currentColor" transform="translate(1128 100) rotate(-180)"></rect>
                    </clipPath>
                    </defs>
                    </svg>
                 </div>
                  <div class="client-review-container">
                      <div class="">
                        <div class=" card-box h-100 ">
                        <div class="project-tagImage">
                         
                          <img src="../../../../assets/images/{{item.ProjectImg}}" alt="">
                          <div class="project-tags d-flex justify-content-center align-items-center flex-lg-nowrap flex-wrap">
                            <div class="testimonial-tag">
                              <div class="text-nowrap">{{item.projectTag1}}</div>
                            </div>
                            <div class="testimonial-tag">
                              <div class="text-nowrap">{{item.projectTag2}}</div>
                            </div>
                          </div> 
                        </div>
                        </div>
                      </div>
                      <div class="">
                        <div class="d-flex justify-content-between flex-wrap">
                          <div class="comma-img d-flex justify-content-center justify-content-lg-start ">
                            <img src="../../../../assets/images/quotes-left.b1f64ab4.svg" alt="" width="50px" srcset="">
                          </div>
                          <div class="project-logo d-flex justify-content-center">
                            <img src="../../../../assets/images/{{item.projectlogo}}" alt="">
                          </div>
                        </div>
                     
                        
                        <div>
                          
                          <p class="mb-3 mb-lg-4 mt-lg-4 mb-lg-4 text-justify fs-body font-14 para-quote  pb-lg-0 text-center text-lg-start">
                            {{item.clientreview}}
                           </p>
                        </div>
                       
                        <div class="d-flex align-items-center review-img flex-column flex-lg-row gap-3 mb-2">
                          <img src="../../../../assets/images/{{item.clientImg}}">
                          <div class="mx-2 text-center text-lg-start">
                            <h5 class="mb-0  ">{{item.clientName}}</h5>
                            <p class="mb-2 client-det fw-6 text-muted">{{item.clientIntro}}</p>
                            <div
                              class="text-warning d-flex gap-1 justify-content-center justify-content-lg-start mt-3 mt-lg-0">
                              <i class="fa-solid fa-star "></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div> 
              </ng-template>
            </ng-container>

          </owl-carousel-o>
          <div class="testimonial_overlay_wrapper">
            <div class="testimonial-overlay-right bg-fff"></div>
            <div class="testimonial-overlay-left bg-fff"></div>
          </div>
        </div>
        
    </div>
    
  </div>
</div>

<app-contact-us></app-contact-us>
<div class="main-modal-container">
  <div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()">
    <div class="modal-container position-relative" (click)="stopPropagation($event)">
      <div class="modal-header border-0 py-0">
        <button (click)="closeModal()" class="close-btn">X</button>
      </div>
      <div class="modal-content border-0">
        <div class="video-container">
          <iframe width="700" height="400" src="https://www.youtube.com/embed/XrUveOTYjpw" frameborder="0" allowfullscreen></iframe>
        </div>        
      </div>
    </div>
  </div>
</div>
