<!-- header and video section -->

<div class="position-relative">
  <div class="home-hero-wrapper">
    <video [muted]="'muted'" loop autoplay plays-inline class="background-video w-100">
      <source src="../../../../assets/images/saufik-hero-bg.mp4" type="video/mp4" />
    </video>

    <div class="content-hero">
      <div class="home-hero-display--intro">
        <h1 class="d-none d-sm-block">
          Turning your vision into a <br /> <span style="color: #4bffa5;">successful</span> product
        </h1>
        <h1 class="d-sm-none">
          Turning your vision into a <span style="color: #4bffa5;">successful</span> product
        </h1>
      </div>
      <div class="home-hero-display--description mt-lg-3 mt-md-2 mb-lg-0 mb-md-0 mb-3">
        <div class="sub-hero-title font-14">
          <h2>Innovative Web & Front-End Development</h2>
          
          <span class="hide-xs" [style.color]="currentText?.color">{{ currentText?.text }}</span>
        </div>
      </div>

      <div class="link-icon-wrapper1 mt-md-3">


        <div class="d-flex flex-lg-nowrap">
          
          <button type="button" routerLink="/projects" class="btn-rounded home-hero-display--lets-talk text-uppercase font-12" > Explore Now
          </button>
        </div>

      </div>
    </div>
  
  </div>


</div>
<!-- header and video section end -->
<!-- logo section -->
<div class="logo-sec section-top-inner-space section-bottom-inner-space">
  <div class="teams position-relative">
    <div class="teams__heading mb-4">
      <p class="teams__title  text-center">TRUSTED <span class="blue-grad-text">EXPERIENCE</span> AND RESULTS</p>
    </div>
    <div class="position-relative trusted-clients">
      <div class="world-best-team">
        <div class="ext-item">
          <span class="exp-item-name">Years Experience</span>
          <span class="exp-item-count">7+</span>
        </div>
        <div class="ext-item">
          <span class="exp-item-name">Completed Projects</span>
          <span class="exp-item-count">50+</span>
        </div>
        <div class="ext-item">
          <span class="exp-item-name">Happy Clients</span>
          <span class="exp-item-count">20+</span>
        </div>
        <div class="ext-item">
          <span class="exp-item-name">Certifications</span>
          <span class="exp-item-count">3</span>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="art-ls-divider"></div>
<app-saufik-services></app-saufik-services>
<div class="art-ls-divider"></div>
<!-- <app-saufik-offshore-staffing></app-saufik-offshore-staffing> -->
<app-saufik-expertise></app-saufik-expertise>
<!-- technologies section -->
<div class="tools-technologies section-top-inner-space">
  <h2 class=" tools__title mb-3 mt-lg-0 mt-md-0 mt-2 text-center">TOOLS & TECHNOLOGIES</h2>
  <div class="overflow-hidden pb-lg-5 pb-3">
    <div class="tech-details mx-3">
      <div class="technology-tools">
        <div class="tech-img"><img src="../../../../assets/images/dotnet.png"></div>
        <div class="tech-img"><img src="../../../../assets/images/new/htmlcss.jpg"></div>
        <div class="tech-img"><img src="../../../../assets/images/typescript-logo.svg"></div>
        <div class="tech-img"><img src="../../../../assets/images/react.png"></div>
        <div class="tech-img"><img src="../../../../assets/images/angular.png"></div>
        <div class="tech-img"><img src="../../../../assets/images/dotnet.png"></div>
        <div class="tech-img"><img src="../../../../assets/images/javascript.png"></div>
        <div class="tech-img"><img src="../../../../assets/images/new/jquery-1.png"></div>
        <div class="tech-img"><img src="../../../../assets/images/new/Figma.png"></div>
        <div class="tech-img"><img src="../../../../assets/images/new/bootstrap.png"></div>
        <div class="tech-img"><img src="../../../../assets/images/sql.png"></div>
        <div class="tech-img"><img src="../../../../assets/images/ionic.png"></div>
       

      </div>
    </div>

  </div>
</div>
<div class="art-ls-divider"></div>
<!-- new section -->
<section class=" services-title d-none">
  <div class="container">
    <h2 class="section-title text-center d-none">With all the Features You Need</h2>
    <p class="text-center d-none">
      Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas distributed for stand-alone
      web-readiness.</p>
    <div class="row">
      <div class="col-lg-6 mt-4">
        <div class="position-relative d-flex flex-column h-100 flex-wrap bg-danger-soft p-lg-5 p-4 rounded-custom">
          <div class="cta-left-info mb-2 text-left">
            <h5 class="fw-7 font-16">Harness the power of software data</h5>
            <p class="fs-body font-14">Shaping innovative models that deliver niche-specific benefits, ultimately driving integration. </p>
          </div>
          <div class="mt-auto text-left"><a [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active"  class="btn btn-outline-primary btn-sm font-12">Get
              Started</a>
          </div>
          <div class="cta-img position-absolute right-0 bottom-0"><img
              src="../../../../assets/images/technology-card1.png" alt="cta img" class="img-fluid"></div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <div class="position-relative d-flex flex-column h-100 flex-wrap bg-primary-soft p-lg-5 p-4 rounded-custom">
          <div class="cta-left-info mb-2 text-left">
            <h5 class="fw-7 font-16">Leverage cutting-edge softwares</h5>
            <p class="fs-body font-14">Evolved models and unlock revolutionary advantages tailored for seamless integration. </p>
          </div>
          <div class="mt-auto text-left"><a [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active" class="btn btn-outline-primary btn-sm font-12">Get
              Started</a>
          </div>
          <div class="cta-img position-absolute right-0 bottom-0"><img
              src="../../../../assets/images/technology-card2.png" alt="cta img" class="img-fluid"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- client review section -->
<div class="client-review position-relative section-top-inner-space section-bottom-inner-space">
  <div class="container">
    <div class="text-center mb-5">
      <h1 class="section-title text-center">What <span
        class="blue-grad-text">They Say</span> About Me
    </h1>
    <p class="font-14">Real words from real clients — honest feedback, lasting impressions.</p>
    </div>
    <div class="row align-items-center">
        <div class="card card-text bg-transparent border-0 rounded-custom h-100">
          <owl-carousel-o [options]="testimonialCarousel">
            <ng-container *ngFor="let item of testtemonial">
              <ng-template carouselSlide *ngFor="let item of clientReviews">
                  <div class="client-review-container">
                      <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between flex-wrap">
                          <div class="comma-img d-flex justify-content-center w-100 justify-content-lg-start align-items-center">
                            <img src="../../../../assets/images/quotes-left.b1f64ab4.svg" alt="" width="50px" srcset="">
                            <h6 class="ms-2 mb-0 f-grow">{{item.heading}}</h6>
                            <img src="https://logos-world.net/wp-content/uploads/2021/04/Upwork-Logo-1.png">
                          </div>
                          <!-- <div class="project-logo d-flex justify-content-center">
                            <img src="../../../../assets/images/{{item.projectlogo}}" alt="">
                          </div> -->
                        </div>
                     
                        
                        <div class="f-grow">
                          
                          <p class="mb-3 mb-lg-4 mt-lg-4 mb-lg-4 text-justify fs-body font-14 para-quote  pb-lg-0 text-center text-lg-start">
                            {{item.clientreview}}
                           </p>
                        </div>
                       
                        <div class="d-flex align-items-center review-img flex-column flex-lg-row gap-3 mb-2">
                          <!-- <img src="../../../../assets/images/{{item.clientImg}}"> -->
                           <span class="client-initials">{{item.initials}}</span>
                          <div class="mx-2 text-center text-lg-start">
                            <h5 class="mb-0 mb-2">{{item.clientName}}</h5>
                            <!-- <p class="mb-2 client-det fw-6 text-muted">{{item.clientIntro}}</p> -->
                            <div
                              class="text-warning d-flex gap-1 justify-content-center justify-content-lg-start mt-3 mt-lg-0">
                              <i class="fa-solid fa-star "></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div> 
              </ng-template>
            </ng-container>

          </owl-carousel-o>
          <div class="testimonial_overlay_wrapper d-none">
            <div class="testimonial-overlay-right bg-fff"></div>
            <div class="testimonial-overlay-left bg-fff"></div>
          </div>
        </div>
        
    </div>
    
  </div>
</div>
