<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text d-flex justify-content-center flex-column">
        <div class="d-flex align-items-center flex-lg-nowrap flex-md-nowrap flex-wrap justify-content-center">
            <div class="d-flex flex-column flex-wrap">
                <div class="mx-lg-4 mx-0 mt-lg-0 mt-md-3 mt-5">
                    <p class="text-label mb-3 text-warning font-14">[ {{projectDetailData?.bannerTitle}} ]</p>
                    <h1 class="fw-5 font-16" [innerHtml]="projectDetailData?.bannerDescription">{{projectDetailData?.bannerDescription}}</h1>
                </div>
            </div>
            <div class="project-banner mt-lg-5 mt-md-0 mt-0">
                <ng-container *ngFor="let img of projectDetailData?.ProjectImg">
                    <img src="../../../../assets/images/{{img.cardImage}}" >
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="container section-top-inner-space">
    <div class="row mx-lg-5">
        <div class="col-lg-6">
            <div class="col-md-12">
                <div class="proj-card-wrapper">
                    <div class="proj-card-row mt-3">
                        <div class="proj-card-caption">Introduction
                        </div>
                        <div class="text-block font-14">{{projectDetailData?.projIntro}}</div><a href="{{projectDetailData?.projectLink}}" target="_blank"
                            class="project-btn mt-3 font-12">visit website</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="proj-card-wrapper">
                    <div class="proj-card-row mt-3">
                        <div class="proj-icon">
                            <img src="../../../../assets/images/proj-goal.svg" alt="">
                        </div>
                        <div class="proj-card-caption mt-4">Project Goal
                        </div>
                        <div class="text-block font-14">{{projectDetailData?.projGoal}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-lg-0 mt-md-5 mt-5">
            <div class="proj-card-wrapper h-100">
                <div class="proj-card-row mt-3">
                    <div class="proj-icon">
                        <img src="../../../../assets/images/proj-comp-size.svg" alt="">
                    </div>
                    <div class="proj-card-caption mt-4">Industry
                    </div>
                    <div class="text-block font-14">{{projectDetailData?.industry}}</div>
                    <div class="proj-card-caption mt-4">Company Size
                    </div>
                    <div class="text-block font-14">50 - 100 peoples</div>
                    <div class="proj-card-caption mt-4">Services We Provided
                    </div>
                    <div class="text-block font-14">Creating of a product design system with guidelines and style guides</div>
                    <div class="text-block font-14">Creating applications  for desktop, tablet and mobile views</div>
                    <div class="text-block font-14">Creating of design layouts for all applications and additional elements</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-lg-5">
        <div class="col-lg-12">
            <div class="proj-card-wrapper mt-5">
                <div class="proj-card-row mt-3">
                    <div class="proj-icon">
                        <img src="../../../../assets/images/what-we-use-proj.svg" alt="">
                    </div>
                    <div class="technology-used">
                        <div>
                            <div class="proj-card-caption mt-4">What we use
                            </div>
                            <div class="text-block font-14">Our development teams apply the latest, cutting-edge technologies,
                                front-end, and back-end development tools.</div>
                        </div>
                        <div class="d-flex flex-column flex-wrap align-items-center justify-content-center  mt-lg-0 mt-md-0 mt-4">
                            <img class="mw-100" src="../../../../assets/images/instruments&tech.svg" alt="">
                            <div class="mt-4 tech-instruments d-flex flex-wrap justify-content-center">
                                <ng-container *ngFor="let img of projectDetailData?.technologyStack">
                                    <div class="instruments-item">
                                        <img class="w-100" src="../../../../assets/images/{{img}}">
                                    </div>
                                </ng-container>
                                <!-- <div class="instruments-item">
                                    <img class="w-100" src="../../../../assets/images/angular.png">
                                </div>
                                <div class="instruments-item">
                                    <img class="w-100" src="../../../../assets/images/dotnet.png">
                                </div>
                                <div class="instruments-item">
                                    <img class="w-100" src="../../../../assets/images/html.png">
                                </div>
                                <div class="instruments-item">
                                    <img class="w-100" src="../../../../assets/images/sass.png">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-tagline">
            <div class="text-block font-14 d-none">Projul is an American automotive company that we have been working with for more
                than 3 years.</div>
            <div class="text-block mt-5 font-16 d-none">It provides an end-to-end SaaS solution for digital multi-point inspections,
                videos, parts pricing and availability, customer communications, and online payments that fully
                integrate with existing dealership management systems.</div>
            <div class="mt-5">
                <!-- <img class="w-100" src="../../../../assets/images/proj-main-img.png" alt=""> -->
                <ng-container *ngFor="let img of projectDetailData?.ProjectImg">
                    <img class="w-100" src="../../../../assets/images/{{img.projMainimg}}" >
                </ng-container>
            </div>

        </div>
    </div>

</div>