
@import "../../../../assets/variable";
.development-services{
    .offer-tabs-inner{
        width: 100%;
    position: relative;
    padding: 22px 18px;
    transition: all 0.3s ease;
    // background: linear-gradient(225deg, #ffffff0d, #6464640d 25%, #0000000d 50% 75%, #6464640d);
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);;
    border-radius: 10px !important;
    border: 1px solid #4bffa524 !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #0000001a !important;
        cursor: pointer;
        .icons{
          position: relative;
          font-size: 30px;
          color: #4bffa5;
        }
        &:hover{
         border: 1px solid #4bffa5;
            
            transform: scale(1.03);
            
            
        }

    }
    .offer-tabs-inner-title{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 18px;
        transition: 0.3s ease all;
        position: relative;
        color: #4bffa5;
    }
    .offer-tabs-inner-text{
        font-size: 14px;
        opacity: 0.7;
        margin: 0;
        padding-right: 1rem;
        transition: 0.3s ease all;
        position: relative;
    }
    .service-item-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
      gap: 22px;
  }
}
