<!-- services section -->
<div class="development-services">
  <h2 class="services-title section-title text-center mb-5"><span class="blue-grad-text">My Services</span> to Elevate Your Brand</h2>
  <div class="container service-item-list">
    <ng-container *ngFor="let service of services">
      <div class="offer-tabs-inner " [routerLink]="'/'+service.link" >
        <span [class]=" service.icon " ngClass="icons"></span>
        <p class="offer-tabs-inner-title mt-3 mb-2 font-16">{{service.name}}</p>
        <p class="offer-tabs-inner-text font-14">{{service.description}}</p>
        
      </div>
    </ng-container>
  </div>

</div>
