<div class="footer-container">
    
    <div class="grid-x grid-margin-x d-flex container flex-wrap flex-md-nowrap position-relative">
        <div class="large-3 medium-12 cell d-flex flex-column align-items-start">
            <div class="footer__logo mb-3">
                <img src="../../../assets/images/logo.png" alt="">       
          </div>
            <!-- <h5>Location</h5> -->
            <div class="footer__description">
                <p>Plot 349 & 350, Street 01, i-9/3 Islamabad <br> Capital Territory, 44000.</p>
            </div>

            <div class="footer__phone">
                <a class="pointer">HR: +92 51 835-6733</a>
            </div>

            <div class="footer__mail">
                <a class="pointer"> info@saufik.com</a>
            </div>
        </div>

        <div class="large-2 medium-12 cell">
            <div class="footer__useful d-flex flex-column">
                <h5>Useful Links</h5>
                <a class="footer__useful-link" [routerLink]="['/service/web-development']" routerLinkActive="router-link-active">
                    Services </a>
                <a class="footer__useful-link" [routerLink]="['/company/who-we-are']" routerLinkActive="router-link-active">
                    Company </a>
                <a class="footer__useful-link" [routerLink]="['/case-studies/web-development']" routerLinkActive="router-link-active">
                    Case Studies </a>
                <a class="footer__useful-link" [routerLink]="['/careers']" routerLinkActive="router-link-active">
                    Careers </a>
            </div>
        </div>

        <div class="large-2 medium-12 cell">
            <div class="footer__company d-flex flex-column">
                <h5>Company</h5>
                <a class="footer__company-link pointer" [routerLink]="['/company/who-we-are']" routerLinkActive="router-link-active" >
                    Who we are </a>
                <a class="footer__company-link" [routerLink]="['/company/social-responsibilities']" routerLinkActive="router-link-active">
                    Social Responsibilities </a>
                <a class="footer__company-link" [routerLink]="['/company/leadership']" routerLinkActive="router-link-active">
                    Our Leadership </a>
                <a class="footer__company-link" [routerLink]="['/company/benefits']" routerLinkActive="router-link-active">
                    Our Benefits </a>
            </div>
        </div>

        <div class="large-2 medium-12 cell">
            <div class="footer__social d-flex flex-column">
                <h5>Social Links</h5>
                <a class="footer__social-link d-flex align-items-center mb-1" href="https://www.facebook.com/SAUFIKTechnologies" target="_blank">
                    <i><i class="fab fa-facebook-square" aria-hidden="true"></i></i>
                    Facebook </a>
                <a class="footer__social-link d-flex align-items-center mb-1" href="https://twitter.com/_Saufik_" target="_blank">
                    <i><i class="fa-brands fa-square-x-twitter"></i></i>
                    Twitter </a>
                <a class="footer__social-link d-flex align-items-center mb-1" href="https://www.linkedin.com/company/saufik/" target="_blank">
                    <i><i class="fab fa-linkedin" aria-hidden="true"></i></i>
                    LinkedIn </a>
                    <a class="footer__social-link d-flex align-items-center mb-1" href="https://www.instagram.com/saufiktechnologies/" target="_blank">
                        <i><i class="fa-brands fa-square-instagram" aria-hidden="true"></i></i>
                        Instagram </a>
            </div>
        </div>
    </div>
    <div class="footer__copy pt-5 pb-4 text-center">
        <div class="grid-container">
            <div class="grid-x">
                <div class="small-12 cell">
                    <p class="mb-0">© 2024 SAUFIK – Mobile Apps, Software Development, Web Design</p>
                </div>
            </div>
        </div>
    </div>
</div>